# Ignore Everything
/*
/*/

# alwas ignore these files / folders
__pycache__/
*.py[cod]

# Except These
!.gitignore
!.gitmodules
!.gitattributes

!README*
!LICENCE*
!CONTRIBUTORS*
!CONTRIBUTING*

!/icylister/
